.chiesa[data-theme='dark'] {
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    backdrop-filter: brightness(0.5);
    z-index: -1;
  }
}

.chiesa[data-theme='light'] h1 {
  background-color: var(--p-primary-color);
}

@media (max-width: 768px) {
  .chiesa {
    background-image: url(/chiesa.jpg) !important;
  }
}
